@tailwind base;
@tailwind components;
@tailwind utilities;

.model-viewer-container {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
  }